@import "colors";

.heading {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 2.5rem;;
  text-transform: uppercase;
  font-weight: normal;
  padding-top: 5rem;


  &::before {
    content: "";
    position: absolute;
    width: 7rem;
    height: 7rem;
    background-color: $blueColorText;
    opacity: .7;
    border-radius: 8px;
    top: 50%;
    transform: translate(-25%, -25%);
    z-index: -1;
  }

  &::after {
    content: '';
    position: absolute;
    width: 5em;
    height: 3px;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $yellowColorText;
  }
}

.underline {
  width: 100%;
  &::before {
    content: "";
    height: 3px;
    width: 100%;
    background-color: $blueColorText;
    position: absolute;
    bottom: 0;
  }
}


.top-line {
  width: 100%;
  &::before {
    content: "";
    height: 3px;
    width: 100%;
    background-color: $blueColorText;
    position: absolute;
    top: 0;
    z-index: 100;
  }
}


.btn {
  border: none;
  padding: 10px 20px;
  background-color: $blueColorText;
  border-radius: 8px;
  color: $yellowColorText;
  text-transform: uppercase;
  cursor: pointer;
  transition: .3s;
  font-weight: bold;
}

.btn-animation {
  transition: .3s;

  &:hover {
    transform: scale(1.1);
    background-color: $yellowColorText;
    color: $blueColorText;
  }
}

.black-btn {
  background-color: black;
}