@media(min-width: 992px) {
  .nav-desktop {
    display: block;
  }

  .nav-mobile {
    display: none;
  }
  .contact__form-bottom {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

    .contact__form {
      display: flex;
      flex-direction: column;
      text-align: left;
      width: 30%;
    }
  }
}