@import "footer";
@import "colors";
@import "large";
@import "components";
@import "cards";
@import "mixin";
@import "main/header";
@import "main/offer";
@import "main/carousel";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

//media query

@media(min-width: 992px) {
  .header {
    &__img {
      background-image: url('../img/big/mitchell-luo-RAliDqgJKbE-unsplash (1).jpg');
    }

    &__img2 {
      background-image: url('../img/big/kevin-woblick-oM9Ygakc8tI-unsplash (1).jpg');
    }

    &__img3 {
      background-image: url('../img/big/ricardo-gomez-angel-9AoXmg7PnQI-unsplash (1).jpg');
    }

    .header__text--box {
      width: 40rem;
      padding: 50px;
    }

    &__text--main {
      font-size: 3rem;
    }

    &__text--paragraph {
      font-size: 2rem;
    }
  }

  .nav {
    justify-content: space-around;
    align-items: center;
    height: 100px;
    z-index: 10;
    width: 100%;


    &-desktop {
      position: fixed;
      display: flex;
      background-color: rgba(255, 255, 255, 0.9);

      &::before {
        position: absolute;
        bottom: 0;
        content: '';
        height: 3px;
        width: 100%;
        background-color: $blueColorText;
      }

      &-logo {
        margin-right: 5rem;
        height: 80px;
        width: 200px;
        background-position: center;
        background-size: cover;
        background-image: url("../img/logo-klimar.png");
      }
    }
  }

  .hamburger, .nav-mobile {
    display: none;
  }
  .offer__background {
    background-image: url(../img/big/offer-background-big.jpg);

  }
}

@media(min-width: 768px) {

  .header {
    .header__text--box {
      width: 40rem;
      padding: 30px;
      left: 50%;
      top: 37%;
    }

    &__text--main {
      font-size: 3rem;
    }

    &__text--paragraph {
      font-size: 2rem;
    }
  }
}