@import "footer";
@import "colors";
@import "large";
@import "components";
@import "mixin";
@import "cards";
@import "hamburger";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}


/////////////////////////////////////
//header
////////////////////////////////////

.header {
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;

  .button-contact {
    display: flex;
    justify-content: center;
  }

  &__button-contact {
    position: absolute;
    bottom: 2rem;
    text-decoration: none;
    background-color: $yellowColorText;
    padding: 15px 30px;
    text-transform: uppercase;
    color: $blueColorText;
    border-radius: 8px;
    font-weight: 600;
    transition: 0.3s;

    &:hover {
      transform: scale(1.2);
      color: $yellowColorText;
      background-color: $blueColorText;

    }
  }

  &__img {
    background-image: url("../img/big/kevin-woblick-oM9Ygakc8tI-unsplash (1).jpg");
    @include imgHeader;
  }

  &__img2 {
    background-image: url("../img/big/mitchell-luo-RAliDqgJKbE-unsplash (1).jpg");
    @include imgHeader;
  }

  &__img3 {
    background-image: url("../img/big/ricardo-gomez-angel-9AoXmg7PnQI-unsplash (1).jpg");
    @include imgHeader;
  }

  &__shadow {
    background: #03091a;
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0.15;
  }


  .hamburger {
    position: fixed;
    top: 2em;
    left: 0.5em;
    z-index: 100;
    transform: translateY(-50%);

    &-inner, &-inner::before, &-inner::after {
      z-index: 500;
      background-color: #fff;
      box-shadow: 2px 2px 3px black;
    }
  }


  &__text--box {
    display: flex;
    flex-direction: column;
    position: absolute;
    transform: translateX(-50%);
    top: 37%;
    left: 50%;
    width: 250px;
    padding: 15px 30px;
    color: $white;
    font-size: 1rem;
    background-color: $blueColorText;
    border-radius: 8px;
    opacity: 0.9;
  }

  &__text--main {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    font-weight: 450;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: -1rem;
      background-color: $yellowColorText;
    }

    & span {
      color: $yellowColorText;
    }
  }

  &__text--paragraph {
    font-size: 1.2rem;
  }
}

.nav {
  height: 100%;
  position: sticky;

  &-mobile {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    transition: transform .3s;
    z-index: 10;
    transform: translateY(-102%);

    &-logo {
      position: relative;
      bottom: 10%;
      margin: 0 auto;
      height: 10rem;
      width: 24rem;
      background-position: center;
      background-size: cover;
      background-image: url("../img/logo-klimar.png");
    }

    &--active {
      transform: translateY(0);
    }
  }

  &-desktop {
    display: none;
  }

  &__link {
    position: relative;
    display: inline-block;
    margin: .5em;
    padding: .5em;
    text-decoration: none;
    text-transform: uppercase;
    color: $mainTextColor;
    font-size: 1.8rem;
    transition: color .3s, transform .3s;

    &:hover {
      color: $blueColorText;
      transform: scale(1.2);
    }

    &::before {
      content: '';
      height: 1.5px;
      width: 65px;
      background-color: $blueColorText;
      position: absolute;
      bottom: 5px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

////////////////////////////
///offer
////////////////////////////
.offer {
  position: relative;
  width: 100vw;
  padding-bottom: 3rem;

  &__background {
    position: absolute;
    background-image: url("../img/small/background-offer-small.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    opacity: 0.3;
  }

  &__title {
    &--h3 {
      margin-bottom: 3rem;
    }
  }
}

/////////////////////////////
///carousel trusted us
////////////////////////////
.trusted {
  //margin-top: 4rem;

  .trusted__carousel {
    display: flex;
    align-items: center;
    padding: 5rem;

    &-img {
      padding: 0 10px
    }
  }
}

/////////////////////////////////
///realization
/////////////////////////////////

.realization {
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__bg--shadow {
    background-color: #000000;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.5;
    z-index: -1;
  }

  &::after {
    content: "";
    height: 3px;
    width: 100%;
    background-color: $blueColorText;
    position: absolute;
    top: -3px;
  }

  &__bg {
    position: absolute;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(../img/realization/realization-bg-small.jpg);
    width: 100%;
    height: 100%;
    opacity: 0.9;
    z-index: -1;
  }
}

.realization__h3 {
  color: $white;
  margin-bottom: 1.5rem;
}


.realization__box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;

  &--card {
    width: 90%;
    //height: 55%;
    background-color: $blackTextColor;
    margin: 1rem;
    border-radius: 8px;
  }

  .realization__box--img {
    height: 25rem;
    border-radius: 8px;
    background-position: center;
    background-size: cover;

    img {
      height: 25rem;
      width: 100%;
      border-radius: 8px 8px 0 0
    }
  }

  .realization__box--text {
    padding: 1rem;
    color: $white;

    & h3 {
      margin: 1rem;
    }

    & p {
      margin: 1rem;
    }
  }
}

.realization__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1rem;

  &--paragraph {
    margin-top: 1rem;
    padding: 2rem;
    color: $white;

    & span {
      color: $yellowColorText;
      font-weight: bold;
    }
  }

  &--btn {
    border: none;
    padding: 10px 20px;
    background-color: $blueColorText;
    border-radius: 8px;
    color: $yellowColorText;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
  }
}

/////////////////////////////////////////
/////why us
////////////////////////////////////////
.why__us {
  position: relative;
  margin-bottom: 2rem;

  &::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    bottom: -20px;
    background-color: $blueColorText;
  }
}

.why__us--main {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
  flex-wrap: wrap;
}

.why__us--box {
  width: 90%;
  height: auto;
  text-align: center;
  margin: 3rem 0.5rem;
  border-radius: 8px;
  position: relative;
  transition: 0.3s;

  &:hover {
    transform: scale(1.2);
  }

  &::before {
    content: "";
    position: absolute;
    width: 14rem;
    height: 14rem;
    background-color: $blueColorText;
    opacity: .15;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 5px 20px black;
  }
}

///////////////////////////////
////////work
//////////////////////////////

.work {
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  .heading {
    color: $white
  }

  &__background {
    position: absolute;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(../img/small/bg_work_small.jpg);
    width: 100%;
    height: 100%;
    opacity: 0.9;
    z-index: -1;
  }

  &__background--shadow {
    background-color: #000000;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.5;
    z-index: -1;
  }
}

.upper__box {
  background-color: $blackTextColor;
  width: 100%;
  padding: 2rem;
  border-radius: 8px;
  margin-bottom: 3rem;
}

.lower__box {
  background-color: $blackTextColor;
  width: 100%;
  border-radius: 8px;
  margin-bottom: 3rem;
  margin-top: 2rem;
  box-shadow: 0 0 5px #0a0a0a;

  .work__box-heading {
    margin-bottom: 1.5rem;
  }


  .work__box-item {
    ul {
      padding: 1rem;

      li {
        list-style-type: none
      }
    }

    .item-heading {
      padding: 1rem;
      color: $blueColorText;
    }

    .item__description {
      font-size: 2rem;
      padding: .5rem;
    }

    .item-img {
      background-size: cover;
      background-position: center;
      height: 25rem;
      width: 100%;
      border-radius: 8px 8px 0 0;
    }
  }
}

.work__box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: $white;
  padding: 3rem;
  margin-top: 1.5rem;

  &--description {
    margin-bottom: 2rem;

    & span {
      color: $yellowColorText;
      font-weight: bold;
    }

    .span__two {
      color: $white;
      font-weight: bold;
      text-decoration: underline;
    }
  }

  &--description2 {
    margin-bottom: 2rem;

    & span {
      font-weight: bold;
      font-size: 1.8rem;
    }
  }

  .work__bottom-btn {
    margin: 1rem auto 0;
    cursor: pointer;
  }
}

///////////////////////////////
////////contact
//////////////////////////////
.contact__box {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.contact__label {
  width: 100%;
  display: flex;
  flex-direction: column;

  .contact__form-input {
    padding: 0.5rem;
    border-radius: 8px;
    border: 1px solid black;
  }

  .contact__form-top {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 1rem;
    padding: 4rem;

    .contact__form-label {
      margin-top: 1.5rem;
      font-weight: bold;
    }

    .contact__form-input {
      margin-top: 0.5rem;
      padding-left: 1rem;
    }
  }

  .contact__form-btn {
    margin-top: 1rem;
    width: 50%;
  }

  .contact__form-textarea {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    min-height: 170px;
    border-radius: 8px;
    font-size: 1.6rem;
    padding: 0.5em 1rem;
  }
}

.contact__form-bottom {
  width: 100%;


  .contact__form-name {
    font-weight: bold;
    margin-bottom: 0.3rem;
  }

  .contact__form {
    margin: 1rem;
    padding: 1.5rem 3rem;

    &-job {
      margin-bottom: 0.8rem;
    }
  }

  .contact__form-email {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 3px;
      height: 60px;
      background-color: $blueColorText;
      left: -10px;
      top: -40px;
    }
  }
}

.contact__bottom {
  width: 100%;

  .bottom__cards {
    display: flex;
    flex-wrap: wrap;

    .bottom__card {
      padding: 1.5rem 3rem;

      .bottom__card--heading {
        margin-top: 1rem;
      }

      .card__info {
        margin-bottom: 1rem;
      }
    }
  }
}

///////////////////////////////
////////footer
//////////////////////////////

.footer {
  text-align: center;
}

//media query

@media(min-width: 992px) {
  html {
    scroll-padding-top: 100px;

  }

  .work__bottom-btn {
    width: 30%;
  }
  .why__us--main {
    display: flex;
    flex-direction: row;

    .why__us--box {
      width: 25%;
      margin: 1.5rem 0.5rem;

    }
  }
  .header {
    &__img {
      background-image: url('../img/big/mitchell-luo-RAliDqgJKbE-unsplash (1).jpg');
    }

    &__img2 {
      background-image: url('../img/big/kevin-woblick-oM9Ygakc8tI-unsplash (1).jpg');
    }

    &__img3 {
      background-image: url('../img/big/ricardo-gomez-angel-9AoXmg7PnQI-unsplash (1).jpg');
    }

    .header__text--box {
      width: 40rem;
      padding: 50px;
    }

    &__text--main {
      font-size: 3rem;
    }

    &__text--paragraph {
      font-size: 2rem;
    }
  }

  .nav {
    justify-content: space-around;
    align-items: center;
    height: 100px;
    z-index: 10;
    width: 100%;


    &-desktop {
      position: fixed;
      display: flex;
      background-color: rgba(255, 255, 255, 0.9);

      &::before {
        position: absolute;
        bottom: 0;
        content: '';
        height: 3px;
        width: 100%;
        background-color: $blueColorText;
      }

      &-logo {
        margin-right: 2rem;
        margin-left: 2rem;
        height: 80px;
        width: 200px;
        background-position: center;
        background-size: cover;
        background-image: url("../img/logo-klimar.png");
      }
    }
  }

  .hamburger, .nav-mobile {
    display: none;
  }
  .offer__background {
    background-image: url("../img/big/offer-background-big.jpg");
  }
  .work__boxes {
    margin-top: 2rem;
    display: block;
  }

  .item-img {
    height: 20rem;
  }
}


@media(min-width: 768px) {

  html {
    scroll-padding-top: 100px;

  }

  .contact__form-bottom {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .contact__form {
      display: flex;
      flex-direction: column;
      text-align: left;

      width: 30%;
    }
  }

  .header {
    .header__text--box {
      width: 40rem;
      padding: 30px;
      left: 50%;
      top: 37%;
    }

    &__text--main {
      font-size: 3rem;
    }

    &__text--paragraph {
      font-size: 2rem;
    }
  }

  .realization__box--card {
    width: 40%;
  }

  .realization__bg {
    background-image: url(../img/realization/realization-bg-big.jpg);
  }

  .work__background {
    background-image: url("../img/work/bg_big.jpg");
  }
}

@media(min-width: 580px) {
  .header {
    .header__text--box {
      width: 40rem;
      padding: 30px;
      left: 50%;
      top: 37%;
    }

    &__text--main {
      font-size: 3rem;
    }

    &__text--paragraph {
      font-size: 2rem;
    }
  }

  .realization__box--card {
    width: 40%;
  }
  .why__us--box {
    width: 40%;
    padding: 2rem;
    margin: 0.5rem 0.5rem;
  }
  .work__boxes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .lower__box {
      width: 45%;
      margin: 1rem 1rem;
    }

    .work__bottom-btn {
      width: 40rem;
    }
  }
}