.footer {
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  .nav-desktop {
    display: block;
  }

  .nav-mobile {
    display: none;
  }
}
.heading {
  position: relative;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: normal;
  padding-top: 5rem;
}
.heading::before {
  content: "";
  position: absolute;
  width: 7rem;
  height: 7rem;
  background-color: dodgerblue;
  opacity: 0.7;
  border-radius: 8px;
  top: 50%;
  transform: translate(-25%, -25%);
  z-index: -1;
}
.heading::after {
  content: "";
  position: absolute;
  width: 10%;
  height: 3px;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffd13b;
}

.underline::before {
  content: "";
  height: 3px;
  width: 100%;
  background-color: dodgerblue;
  position: absolute;
  bottom: 0;
}

.cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.col {
  width: 33%;
  cursor: pointer;
}

.container {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 800px;
  perspective: 800px;
  margin: 1rem;
}

.front,
.back {
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  background-position: center;
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
  min-height: 280px;
  height: auto;
  color: #fff;
  font-size: 1.5rem;
}

.front__img {
  width: 100%;
  height: auto;
}

.first__img {
  background-image: url(../img/cards/kosztorys_i_wycena.jpg);
}

.second__img {
  background-image: url(../img/cards/projekty_sanitarne.jpg);
}

.third__img {
  background-image: url(../img/cards/cleanroom.jpg);
}

.fourth__img {
  background-image: url(../img/cards/produkcja_elementow_wentylacyjnych.jpg);
}

.fifth__img {
  background-image: url("../img/cards/montaz_i_serwis.jpg");
}

.sixth__img {
  background-image: url("../img/cards/automatyka.jpg");
}

.front:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  opacity: 0.6;
  background-color: #000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 8px;
}

.container:hover .front,
.container:hover .back {
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 8px;
}
.back::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
  position: absolute;
  transform: translateX(-50%);
  border-radius: 8px;
}
.back .inner__button {
  text-transform: uppercase;
  padding: 10px 20px;
  background-color: dodgerblue;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
  color: #ffd13b;
  opacity: 0.8;
  font-weight: bold;
  font-size: 1.6rem;
  margin-top: 3rem;
  transition: 0.3s;
}
.back .inner__button:hover {
  transform: scale(1.2);
  opacity: 1;
}

.inner {
  -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 50%;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 2rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 1px solid transparent;
  -webkit-perspective: inherit;
  perspective: inherit;
  z-index: 2;
}

.container .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container .front {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container:hover .back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container:hover .front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.front .inner p {
  color: white;
  font-size: 2.5rem;
  position: relative;
}

.back .inner p {
  color: white;
  font-size: 1.6rem;
  position: relative;
}

.front .inner p:after {
  content: "";
  width: 6rem;
  height: 2px;
  position: absolute;
  background: #ffd13b;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -0.75rem;
}

.front .inner span {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.offer__background {
  background-image: url("../img/small/background-offer-small.jpg");
  background-position: center;
}

@media screen and (max-width: 996px) {
  .col {
    width: calc(50% - 2rem);
  }
}
@media screen and (max-width: 580px) {
  .col {
    width: 100%;
    margin: 0 0 2rem 0;
  }
}
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.header {
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
}
.header .button-contact {
  display: flex;
  justify-content: center;
}
.header__button-contact {
  position: absolute;
  bottom: 2rem;
  text-decoration: none;
  background-color: #ffd13b;
  padding: 15px 30px;
  text-transform: uppercase;
  color: dodgerblue;
  border-radius: 8px;
  font-weight: 600;
  transition: 0.3s;
}
.header__button-contact:hover {
  transform: scale(1.2);
  color: #ffd13b;
  background-color: dodgerblue;
}
.header__img {
  background-image: url("../img/big/kevin-woblick-oM9Ygakc8tI-unsplash (1).jpg");
  position: relative;
  width: 100%;
  height: 100vh;
  top: 0;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.header__img2 {
  background-image: url("../img/big/mitchell-luo-RAliDqgJKbE-unsplash (1).jpg");
  position: relative;
  width: 100%;
  height: 100vh;
  top: 0;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.header__img3 {
  background-image: url("../img/big/ricardo-gomez-angel-9AoXmg7PnQI-unsplash (1).jpg");
  position: relative;
  width: 100%;
  height: 100vh;
  top: 0;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.header__shadow {
  background: #03091a;
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0.15;
}
.header .hamburger {
  position: fixed;
  top: 2em;
  left: 0.5em;
  z-index: 100;
  transform: translateY(-50%);
}
.header .hamburger-inner, .header .hamburger-inner::before, .header .hamburger-inner::after {
  z-index: 500;
  background-color: #fff;
}
.header__text--box {
  display: flex;
  flex-direction: column;
  position: absolute;
  transform: translateX(-50%);
  top: 37%;
  left: 50%;
  width: 250px;
  padding: 15px 30px;
  color: white;
  font-size: 1rem;
  background-color: dodgerblue;
  border-radius: 8px;
  opacity: 0.9;
}
.header__text--main {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  font-weight: 450;
  position: relative;
}
.header__text--main::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -1rem;
  background-color: #ffd13b;
}
.header__text--main span {
  color: #ffd13b;
}
.header__text--paragraph {
  font-size: 1.2rem;
}

.nav {
  height: 100%;
  position: sticky;
}
.nav-mobile {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  transition: transform 0.3s;
  z-index: 10;
  transform: translateY(-102%);
}
.nav-mobile-logo {
  position: relative;
  bottom: 10%;
  margin: 0 auto;
  height: 10rem;
  width: 24rem;
  background-position: center;
  background-size: cover;
  background-image: url("../img/logo-klimar.png");
}
.nav-mobile--active {
  transform: translateY(0);
}
.nav-desktop {
  display: none;
}
.nav__link {
  position: relative;
  display: inline-block;
  margin: 0.5em;
  padding: 0.5em;
  text-decoration: none;
  text-transform: uppercase;
  color: #3d3d3d;
  font-size: 2rem;
  transition: color 0.3s, transform 0.3s;
}
.nav__link:hover {
  color: dodgerblue;
  transform: scale(1.2);
}
.nav__link::before {
  content: "";
  height: 1.5px;
  width: 65px;
  background-color: dodgerblue;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.offer {
  position: relative;
  width: 100vw;
  padding-bottom: 3rem;
}
.offer__background {
  position: absolute;
  background-image: url("../img/small/background-offer-small.jpg");
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  opacity: 0.3;
}
.offer__title--h3 {
  margin-bottom: 3rem;
}

.trusted .trusted__carousel {
  display: flex;
  align-items: center;
  padding: 5rem;
}
.trusted .trusted__carousel-img {
  padding: 0 10px;
}

.realization {
  position: relative;
  height: 100vh;
  width: 100vw;
}
.realization__box--shadow {
  background-color: #000000;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.5;
  z-index: -1;
}
.realization::after {
  content: "";
  height: 3px;
  width: 100%;
  background-color: dodgerblue;
  position: absolute;
  top: -3px;
}
.realization__box--main {
  position: absolute;
  background-position: center;
  background-size: cover;
  background-image: url(../img/realization/realization-bg-small.jpg);
  width: 100%;
  opacity: 0.9;
  height: 100vh;
  z-index: -1;
}
.realization__title {
  color: white;
}
.realization .realization__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 80vh;
  margin-top: 5rem;
}
.realization .realization__box--background {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: dodgerblue;
  width: 95%;
  height: 100%;
  border-radius: 8px;
  opacity: 0.9;
  margin: 0 auto;
}
.realization .realization__box--images {
  height: 70%;
  width: 100%;
}
.realization .realization__box--images img {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: contain;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.realization .realization__box--text {
  position: relative;
  margin: 1rem;
  height: 30%;
  width: 100%;
  padding: 1rem;
}
.realization .realization__box--text-description h3 {
  color: #ffd13b;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
.realization .realization__box--text-description p:nth-child(2) {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: 600;
}
.realization .realization__box--text-description p {
  color: white;
}
.realization .realization__box--text-description p span {
  color: #ffd13b;
  font-size: 2.1rem;
}
.realization .realization__box .realization__button {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.realization .realization__box .realization__button-btn {
  position: absolute;
  background-color: #ffd13b;
  border: none;
  color: dodgerblue;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
.realization .realization__bottom {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
.realization .realization__bottom-text {
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 2rem;
  color: white;
  border-radius: 8px;
  padding: 1rem 2rem;
  font-weight: bold;
}
.realization .realization__bottom-text span {
  color: dodgerblue;
  position: relative;
}
.realization .realization__bottom-text span::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: #ffd13b;
}

@media (min-width: 992px) {
  .header__img {
    background-image: url("../img/big/mitchell-luo-RAliDqgJKbE-unsplash (1).jpg");
  }
  .header__img2 {
    background-image: url("../img/big/kevin-woblick-oM9Ygakc8tI-unsplash (1).jpg");
  }
  .header__img3 {
    background-image: url("../img/big/ricardo-gomez-angel-9AoXmg7PnQI-unsplash (1).jpg");
  }
  .header .header__text--box {
    width: 40rem;
    padding: 50px;
  }
  .header__text--main {
    font-size: 3rem;
  }
  .header__text--paragraph {
    font-size: 2rem;
  }

  .nav {
    justify-content: space-around;
    align-items: center;
    height: 100px;
    z-index: 10;
    width: 100%;
  }
  .nav-desktop {
    position: fixed;
    display: flex;
    background-color: rgba(255, 255, 255, 0.9);
  }
  .nav-desktop::before {
    position: absolute;
    bottom: 0;
    content: "";
    height: 3px;
    width: 100%;
    background-color: dodgerblue;
  }
  .nav-desktop-logo {
    margin-right: 5rem;
    height: 80px;
    width: 200px;
    background-position: center;
    background-size: cover;
    background-image: url("../img/logo-klimar.png");
  }

  .hamburger, .nav-mobile {
    display: none;
  }

  .offer__background {
    background-image: url("../img/big/offer-background-big.jpg");
  }
}
@media (min-width: 768px) {
  .header .header__text--box {
    width: 40rem;
    padding: 30px;
    left: 50%;
    top: 37%;
  }
  .header__text--main {
    font-size: 3rem;
  }
  .header__text--paragraph {
    font-size: 2rem;
  }
}

/*# sourceMappingURL=main.css.map */
